@mixin centerFlex(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin rowFlex(){
    display: flex;
    flex-direction: row;
}

@mixin columnFlex(){
    display: flex;
    flex-direction: column;
}
